*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html{
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0 auto;
    height: 100%;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    font-size: 14px; 
}

body::selection{
    color: #191E38;
    background: white;
}

#footer_area {
    background: rgba(25, 30, 56, 0.1);
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    width: 100%;
    margin-top: auto;
    flex-shrink: 0;
}

#title1{
    font-size: 50px;
    font-style: italic;
    color: white;
    font-weight: bold;
}

#title1::selection{
    color: #191E38;
    background: white;
}

#content_area{
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 92px 0 112px;
    align-items: center;
}

.left_side{
    flex-basis: 540px;
}

.form_area{
    flex-basis: 396px;
}

.form_area form{

    background: rgba(25, 30, 56, 0.4);
    border-radius: 8px;
    padding: 30px;
    backdrop-filter: blur(10px);       
     width: 100%;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.form_area input{
    
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.9);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 8px;
}

.form_area input[type="button"]{
    
    background: white;
    color: #191E38;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    width: 300px;
    transition: all 0.3s;
    justify-content: center;
}

.form_area input[type="button"]:hover{
    background: #d3d0d0;
}

.form_area a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 10px;
    display: inline-block;
}
.form_area a:hover{
    text-decoration: underline;
}


.form_area button[type="button"]{
    background: white;
    color: #191E38;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    margin-top: 25px;
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    width: 300px;
    transition: all 0.3s;
    justify-content: center;
}

.form_area button[type="button"]:hover{
    background: #d3d0d0;
}
